
<footer class="page-footer font-small text-white fixed-bottom">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/imgs/plebones.png" width="80" alt="">
          <img src="assets/imgs/logo8.png" width="80" alt="">
          <img src="assets/imgs/aws.png" width="80" alt="">
          <img src="assets/imgs/bbva.png" width="80" alt="">
          <img src="assets/imgs/cisco.png" width="80" alt="">
          <img src="assets/imgs/tata.png" width="80" alt="">
          <img src="assets/imgs/axity.png" width="80" alt="">
        </div>
      </div>
    </div>
</footer>