<div class="row">
</div>

<div class="row mt-5 mb-2">
	<div class="col-12">
		<div 
			class="card flex-row flex-nowrap mb-1"
			*ngFor="let result of results"
		>
			<div class="card-header border-0 col-2 align-self-center">
				<img [src]="result.img" alt="">
			</div>
			<div class="card-body col-10 px-2 py-2">
				<div class="col-12 d-flex flex-nowrap align-items-center" style="height: 100%;">
					<div class="col-3">
						<p class="">{{ result.name }}</p>
						<p class="">{{ result.description }}</p>
					</div>
					<div class="col-3">
						<p class="">{{ result.address }}</p>
						<p class="">{{ result.email }}</p>
						<p>{{ result.phone }}</p>
					</div>
					<div class="col-3">
						<div *ngIf="result.certified" class="text-center">
							<h1>
								<ion-icon name="shield-checkmark-outline"></ion-icon>
							</h1>
						</div>
					</div>
					<div class="col-3">
						<a [routerLink]="['/result']" class="btn btn-outline-dark btn-sm">View more <ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
    
</div>

