<nav class="navbar navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="">
        <img src="assets/imgs/logo.png" width="100" alt="">
    </a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#collapsingNavbar">
        ☰
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['result']">
                    <ion-icon name="log-in-outline"></ion-icon>Log In
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <ion-icon name="log-out-outline"></ion-icon> Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>