
<div class="row mt-5 mb-2">
	
	<!-- <div class="col-12">
		<h1>Result</h1>
		{{ users[0].name }}

		<h1><span style="color: '#5E7236'"><ion-icon name="finger-print"></ion-icon></span></h1>
		
		<h1><span style="color: '#5E7236'"><ion-icon name="leaf"></ion-icon></span></h1>
	</div> -->
	

	<div class="col-12">
		<div id="stepper1" class="bs-stepper linear">
			<div class="bs-stepper-header" role="tablist">
			  <div class="step active" data-target="#test-l-1">
				<button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1" aria-selected="true">
				  <span class="bs-stepper-circle"><ion-icon name="checkmark-outline"></ion-icon></span>
				  <span class="bs-stepper-label">Check 1</span>
				</button>
			  </div>
			  <div class="bs-stepper-line"></div>
			  <div class="step" data-target="#test-l-2">
				<button type="button" class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2" aria-selected="false" disabled="disabled">
				  <span class="bs-stepper-circle"><ion-icon name="checkmark-outline"></ion-icon></span>
				  <span class="bs-stepper-label">Check 2</span>
				</button>
			  </div>
			  <div class="bs-stepper-line"></div>
			  <div class="step" data-target="#test-l-3">
				<button type="button" class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3" aria-selected="false" disabled="disabled">
				  <span class="bs-stepper-circle"><ion-icon name="checkmark-outline"></ion-icon></span>
				  <span class="bs-stepper-label">Check 3</span>
				</button>
			  </div>
			</div>
			<div class="bs-stepper-content">
			  <form [formGroup]="form" (ngSubmit)="submit()">
				<div id="test-l-1" role="tabpanel" class="bs-stepper-pane active dstepper-block" aria-labelledby="stepper1trigger1"> 				
					<div class="form-group">
						<label for="TipoPersona">¿Es una persona o una empresa?</label>
						<select class="form-control" id="TipoPersona" formControlName="TipoPersona">
							<option value="1">Persona</option>
							<option value="2">Empresa</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Transporte">¿Qué medio de transporte utilizas la mayor parte del tiempo?</label>
						<select class="form-control" id="Transporte" formControlName="Transporte">
							<option value="1">Automóvil (Coche)</option>
							<option value="2">Transporte público</option>
							<option value="3">A pie / Bicicleta </option>
							<option value="4">Motocicleta</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Televisores">¿Cuántas televisiones hay en tu casa?</label>
						<select class="form-control" id="Televisores" formControlName="Televisores">
							<option value="1">Cero o 1</option>
							<option value="2">2 o 3</option>
							<option value="3">4 o 5</option>
							<option value="4">Más de 5</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Ocupacion">Ocupación</label>
						<select class="form-control" id="Ocupacion" formControlName="Ocupacion">
							<option value="1">Estudiante</option>
							<option value="2">Empleado</option>
							<option value="3">Desempleado</option>
							<option value="4">Independiente</option>
							<option value="5">Dedicado al hogar</option>
						</select>
					</div>

				  <button type="button" class="btn btn-primary" (click)="next(0)">Next</button>
				</div>
				<div id="test-l-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">
					<div class="form-group">
						<label for="FreqT">¿Con qué frecuencia te usas tu medio de transporte?</label>
						<select class="form-control" id="FreqT" formControlName="FreqT">
							<option value="1">1 a 3 veces por semana</option>
							<option value="2">4 a 6 veces por semana</option>
							<option value="4">Más de 8 veces a la semana</option>
							<option value="3">Diariamente</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Alimentos2">¿De dónde provienen tus alimentos?</label>
						<select class="form-control" id="Alimentos2" formControlName="Alimentos2">
							<option value="1">Siempre comida de casa</option>
							<option value="2">Compro comida 1 o 2 veces por semana</option>
							<option value="3">La mayoría de las veces compro comida</option>
							<option value="4">Casi siempre compro comida</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Alimentos3">¿Qué tipo de alimentación tienes?</label>
						<select class="form-control" id="Alimentos3" formControlName="Alimentos3">
							<option value="1">Vegana</option>
							<option value="2">Vegetariana</option>
							<option value="3">Poca carne</option>
							<option value="4">Mucha carne</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Viajes">¿Cuántos viajes realizas al año?</label>
						<select class="form-control" id="Viajes" formControlName="Viajes">
							<option value="1">Ninguno o 1</option>
							<option value="2">De 2 a 5</option>
							<option value="3">De 5 a 10</option>
							<option value="4">Más de 10</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Gas">¿Qué tipo de gas usas en casa?</label>
						<select class="form-control" id="Gas" formControlName="Gas">
							<option value="1">No uso gas, uso electricidad</option>
							<option value="2">Combino el uso de gas con electricidad</option>
							<option value="3">Gas LP o gas natural</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Lacteos">¿Consumes lácteos?</label>
						<select class="form-control" id="Lacteos" formControlName="Lacteos">
							<option value="1">No consumo lácteos</option>
							<option value="2">Pocas veces</option>
							<option value="3">Si regularmente</option>
							<option value="4">Casi siempre</option>
						</select>
					</div>


				  <button type="button" class="btn btn-primary" (click)="previous()">Previous</button>
				  <button type="button" class="btn btn-primary" (click)="next(1)">Next</button>
				</div>
				<div id="test-l-3" role="tabpanel" class="bs-stepper-pane text-left" aria-labelledby="stepper1trigger3">
				  
					<div class="form-group">
						<label for="Litros"> ¿Cuántos litros de gasolina consumes a la semana?</label>
						<input formControlName="Litros" type="number" id="Litros" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>
					
					<div class="form-group">
						<label for="Energia"> ¿Cuánto kwH gastas en luz mensualmente?</label>
						<input formControlName="Energia" type="number" id="Energia" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<div class="form-group">
						<label for="Carne">¿Cuántos kg de carne de res consumes en 1 semana?</label>
						<input formControlName="Carne" type="number" id="Carne" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<div class="form-group">
						<label for="Puerco">¿Cuántos kg de carne de puerco consumes en 1 semana?</label>
						<input formControlName="Puerco" type="number" id="Puerco" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<div class="form-group">
						<label for="Pollo">¿Cuántos kg de carne de pollo consumes en 1 semana?</label>
						<input formControlName="Pollo" type="number" id="Pollo" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<div class="form-group">
						<label for="Huevos">¿Cuántos huevos consumes semanalmente?</label>
						<input formControlName="Huevos" type="number" id="Huevos" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<div class="form-group">
						<label for="Leche">¿Cuántos litros de leche consumes en 1 semana?</label>
						<input formControlName="Leche" type="number" id="Leche" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<div class="form-group">
						<label for="Hijos">¿Cuántos hijos tiene?</label>
						<input formControlName="Hijos" type="number" id="Hijos" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
					</div>

					<button type="button" class="btn btn-primary mt-5" (click)="previous()">Previous</button>
				  	<button type="submit" class="btn btn-primary mt-5" (click)="lastCheck()">Submit</button>
				</div>
			  </form>
			</div>
		  </div>
	</div>
</div>
