<div class="">
    <!-- <div class="row">
        <div class="form-group">
            <label for="tipoPersona">Tipo de persona</label>
            <select class="form-control" id="tipoPersona" [(ngModel)]="tipoPersona">
                <option value="fisica">Fisica</option>
                <option value="moral">Moral</option>
            </select>
        </div>
	</div>
	
	<div class="row">
		<div *ngIf="tipoPersona == 'fisica'">
			<p>Fisica</p>
		</div>
		<div *ngIf="tipoPersona == 'moral'">
			<p>Moral</p>
		</div>
	</div> -->
	<app-result></app-result>
</div>

